/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    flex: 0 0 30%;
    /* Ocupa el 30% del ancho */
    background-color: #f5f5f5;
    /* Color de fondo (opcional) */
    border-right: 1px solid #ccc;
    /* Separador visual (opcional) */
}

.main-content {
    flex: 1;
    /* Ocupa el resto del espacio (70%) */
    padding: 20px;
    /* Espaciado interno */
    background-color: #ffffff;
    /* Color de fondo (opcional) */
}

h1 {
    color: black; */
}